.books-list-container{
    min-height: 694px;
    width: 1220px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.series-items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
    .card:hover {
        transform: scale(1.03);
        box-shadow: 0 13px 40px -5px
}




.div {

    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}


  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  .brand{
    color: blue;
  }
  
  .footer {
    text-align: center;
    color: gray;
    background-color: rgb(19, 19, 19);
     background-size: cover;
    
    padding: 50px 0px 5px;
}



.Error-page {
    text-align: center;
    padding-top: 20%;
}
.Watch-container {
    background-color: rgb(19, 19, 19);
    padding-top: 100px;
    
}

.Watch-movie {
    border: 1px rgb(252, 67, 67) solid;
    min-height: 694px;
    width: 800px;
    height: 200px;
    margin: auto;
    padding-top: 70px;
    padding-left: 60px;
    text-align: center;
    justify-content: center;
    color: white;
}
.Home-container{
    background-size: cover;
    color: rgb(252, 67, 67);
    text-align: center;
    text-decoration:dotted;   
    min-height: 698px;
    padding-top: 20%;
    margin: auto;
    
}